* {
    font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
    text-align: center;
}

body {
    background-image: url(./images/food-background.jpg);
    background-size: cover;
}

img {
    width: auto;
    height: auto;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.headerlist {
    text-align: left;
}

li {
    text-align: left;
    font-size: 18px;
}

ul, ol {
    background-color: #f6e7d0;
}