* {
    font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
    text-align: center;
}

body {
    background-image: url(./images/food-background.jpg);
    background-size: cover;
}

img {
    width: auto;
    height: auto;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

li {
    text-align: left;
    font-size: 18px;
}

ul, ol {
    background-color: #f6e7d0;
}

#header, .htwo, .hthree {
    font-family: "Unbounded";
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px #56a360;
}

.htwo, .hthree {
    text-align: left;
}

.htwo {
    font-size: 42px;
}

.hthree {
    font-size: 25px;
}

#header {
    font-size: 50px;
}